.about-container .hero-section {
  background-image: url('../../assets/insurance.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
  color: white;
}

.about-container .hero-content {
  background-color: #1F4F9CCF;
  padding: 20% 40.3%;
  overflow: hidden;
}

.case-study-btn {
  text-align: right;
  color: #868686;
  font-weight: 500;
  font-size: 1rem;
  padding-right: 3%;
  padding-bottom: 10px;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #1F4F9C;
  padding: 5% 15%;
  color: white;
  margin: 5% 0 0;
  text-align: center;
}

.help h1 {
  font-family: DM Serif Display;
  font-size: 55px;
  font-weight: 500;
}

.help p {
  font-size: 14px;
  padding: 0 10%;
}
.help-btn {
  background-color: white;
  color: #1F4F9C;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.help-btn:hover {
  background-color: #1F4F9C;
  color: white;
  border: 1px solid white;
  transition: 0.3s ease;
}

.about-main-section {
  display: flex;
  gap: 13%;
  padding: 80px 20% 0 10%;
}

.about-image-section {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.about-image-wrapper {
  position: relative;
  width: 450px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.about-image-wrapper::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -12px;
  width: 60%;
  height: 60%;
  border-top: 1px solid #8FB3F2;
  border-left: 1px solid #8FB3F2;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  pointer-events: none;
  z-index: 2;
}

.about-image-wrapper::after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 60%;
  height: 60%;
  border-bottom: 1px solid #8FB3F2;
  border-right: 1px solid #8FB3F2;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  pointer-events: none;
  z-index: 1;
}

.about-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 20px solid #F0F5FD;
  border-bottom: 20px solid #F0F5FD;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.group-image {
  position: absolute;
  top: -4%;
  left: 83%;
  width: 100px;
  height: 100px;
}

.about-members-card {
  position: absolute;
  top: 60px;
  right: -55px;
  background: #fff;
  box-shadow: 0px 31px 80px 0px #0000000F;
  border-radius: 12px;
  padding: 12px 20px;
  text-align: center;
  font-size: 12px;
  color: #868686;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-members-card h2 {
  margin: 0;
  color: #1F4F9C;
  font-size: 35px;
  font-weight: 400;
}

.about-reviews-card {
  position: absolute;
  bottom: -30px;
  left: 50px;
  background: #fff;
  box-shadow: -28px 30px 80px 0px #5163EA14;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 3;
}

.about-reviews-card span {
  color: #1F4F9C;
  font-weight: 500;
  font-size: 20px;
}

.about-reviews-avatars {
  display: flex;
  align-items: center;
}

.about-reviews-avatars img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: -8px;
  margin-bottom: -40px;
}

.plus-icon {
  font-size: 20px;
  font-weight: 500;
  color: #1C2D49;
  box-shadow: 0px 10px 14px 0px #00022712;
  border-radius: 50%;
  padding: 2px 10px;
  margin-left: -35px;
  background-color: #ffffff;
}

.about-story-section {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.about-story-label {
  color: #868686;
  font-size: 1rem;
  margin-bottom: 8px;
  display: block;
}

.about-story-section h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 18px;
}

.about-story-desc {
  color: #868686;
  font-size: 12px;
  margin-bottom: 18px;
}

.about-story-highlight {
  font-weight: 600;
  margin-bottom: 20px;
}

.about-contact-btn {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
  width: 50%;
}

.about-contact-btn:hover {
  background: #1F4F9C;
}

.vision-mission-section {
  display: flex;
  justify-content: center;
  gap: 12%;
  margin: 60px 3% 60px 10%;
}

.vision-section, .mission-section {
  flex: 1;
  padding: 40px 50px;
}

.vision-section h2, .mission-section h2 {
  font-size: 40px;
  font-weight: 700;
}

.vision-section p, .mission-section p {
  color: #868686;
  font-size: 15px;
  line-height: 1.7;
}

.section-title-with-line {
  align-items: center;
  gap: 18px;
  margin-bottom: 18px;
}

.section-title-with-line h2 {
  margin: 0;
  white-space: nowrap;
}

.section-line {
  flex: 1;
  height: 2px;
  background: #3A3A38;
  opacity: 0.3;
  position: relative;
  left: -30%;
  width: 25%;
  margin-top: -2%;
}

@media (max-width: 1440px) {
  .about-container .hero-content {
    padding: 20% 39.7%;
  }
}

@media (max-width: 1024px) {
  .about-container .hero-content {
    padding: 20% 35.5%;
  }
  .about-container .about-main-section {
    padding: 80px 10% 0 10%;
  }
  .about-container .about-image-section {
    width: 40%;
  }
  .about-container .about-image-wrapper {
    width: 350px;
    height: 350px;
  }
  .about-container .about-members-card {
    top: 40px;
    right: -90px;
  }
  .about-container .about-members-card h2 {
    font-size: 25px;
  }
  .about-container .about-reviews-card {
    left: 30px;
  }
  .about-container .about-reviews-avatars img {
    width: 80px;
    height: 80px;
  }
  .about-container .about-reviews-card span {
    font-size: 18px;
  }
  .about-container .plus-icon {
    font-size: 18px;
    padding: 2px 8px;
    margin-left: -30px;
    margin-top: 12px;
  }
  .about-container .about-story-section {
    padding-left: 0;
  }
  .about-container .vision-mission-section {
    gap: 5%;
    margin: 60px 5% 60px 10%;
  }
  .about-container .vision-section h2, .mission-section h2 {
    font-size: 35px;
  }
  .about-container .vision-section p, .mission-section p {
    font-size: 14px;
  } 
  .case-study-btn {
    padding-right: 5%;
  }
  .help h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .about-container .hero-section {
    margin-top: 100px;
  }
  .about-container .hero-content {
    padding: 20% 38%;
  }
  .about-container .hero-section h1 {
    font-size: 40px;
  }
  .about-container .about-main-section {
    padding: 80px 5% 0 5%;
  }
  .about-container .about-image-section {
    width: 50%;
  }
  .about-container .about-image-wrapper {
    width: 300px;
    height: 300px;
  }
  .about-container .about-members-card {
    width: 120px;
    top: 20px;
    right: -70px;
  }
  .about-container .about-members-card h2 {
    font-size: 20px;
  }
  .about-container .about-reviews-card {
    left: 20px;
  }
  .about-container .about-reviews-avatars img {
    width: 60px;
    height: 60px;
  }
  .about-container .about-reviews-card span {
    font-size: 16px;
  }
  .about-container .plus-icon {
    font-size: 16px;
    padding: 2px 8px;
    margin-left: -20px;
    margin-top: 15px;
  }
  .about-container .about-story-section h1 {
    font-size: 25px;
  }
  .about-container .about-story-desc {
    font-size: 12px;
  }
  .about-container .about-contact-btn {
    width: 70%;
  }
  .about-container .vision-mission-section {
    margin: 60px 5% 60px 10%;
  }
  .about-container .vision-section h2, .mission-section h2 {
    font-size: 30px;
  }
  .about-container .vision-section p, .mission-section p {
    font-size: 12px;
  }
  .case-study-btn {
    padding-right: 6%;
  }
  .help {
    padding: 5% 15%;
    gap: 25px;
  }
  .help h1 {
    font-size: 30px;
  }
  .help p {
    font-size: 12px;
    padding: 0 5%;
  }
  .help-btn {
    padding: 7px 20px;
    font-size: 12px;
  }
}

@media (max-width: 426px) {
  .about-container .hero-section {
    margin-top: 60px;
  }
  .about-container .hero-content {
    padding: 20% 36.2%;
  }
  .about-container .hero-section h1 {
    font-size: 25px;
  }
  .about-container .about-main-section {
    padding: 80px 5% 0 0;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .about-container .about-image-section {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-container .about-image-wrapper {
    width: 250px;
    height: 300px;
  }
  .about-container .about-members-card {
    width: 100px;
  }
  .about-container .about-story-section {
    padding-left: 10%;
  }
  .about-container .about-story-section h1 {
    font-size: 30px;
  }
  .about-container .vision-mission-section {
    flex-direction: column;
    margin: 60px 2% 60px 20%;
    gap: 20px;
  }
  .about-container .vision-section h2, .mission-section h2 {
    font-size: 30px;
  }
  .about-container .vision-section, .mission-section {
    padding: 0px 20px;
  }
  .about-container .section-line {
    width: 20%;
  }  
  .help {
    padding: 5% 5%;
    gap: 25px;
  }
  .help h1 {
    font-size: 25px;
  }
}

@media (max-width: 390px) {
  .about-container .hero-section {
    margin-top: 40px;
  }
  .about-container .hero-content {
    padding: 20% 37.8%;
  }
  .about-container .hero-section h1 {
    font-size: 20px;
  }
  .about-container .about-main-section {
    padding: 80px 5% 0 0;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .about-container .about-image-section {
    width: 75%;
  }
  .about-container .about-image-wrapper {
    width: 380px;
    height: 300px;
  }
  .about-container .about-members-card {
    width: 80px;
    top: 10px;
    right: -50px;
  }
  .about-container .about-story-section h1 {
    font-size: 25px;
  }
}








