.bloginner .hero-section {
  background-image: url("../../assets/blog.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 130px;
  color: white;
}

.bloginner .hero-content {
  background-color: #1F4F9CCF;
  padding: 17% 29%;
  overflow: hidden;
}

.blogmain-wrapper {
  margin: 0 50px;
}

.bloginner-image {
  padding: 80px 0;
}

.bloginner-image img {
  width: 100%;
  object-fit: cover;
}

.bloginner-content-wrapper {
  display: flex;
  gap: 10%;
  justify-content: center;
  padding: 0 0 50px 0;
}

.bloginner-main {
  flex: 2;
}

.bloginner-main h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.bloginner-main p {
  color: #868686;
  font-size: 13px;
}

.bloginner-sidebar {
  flex: 1;
  min-width: 200px;
}

.bloginner-sidebar img {
  width: 200px;
  height: 130px;
  object-fit: cover;
}

.bloginner-sidebar h4 {
  font-size: 25px;
  margin: 20px 0;
}

.bloginner-sidebar h2 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
  font-weight: 600;
}

.bloginner-sidebar p {
  padding-top: 10px;
  font-size: 15px;
  color: #868686;
}
.sidebar-news-item {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.longest-cases-section {
  max-width: 850px;
}

.longest-cases-section h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.longest-cases-section p {
  color: #868686;
  font-size: 13px;
}

.longest-cases-cards {
  display: flex;
  gap: 30px;
}

.longest-cases-cards img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.longest-cases-section h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: 1440px) {
  .bloginner .hero-section{
   margin-top: 100px;
  }
 }

@media (max-width: 1024px) {
  .bloginner .hero-content {
    padding: 20% 0%;
  }
  .bloginner .hero-section {
    margin-top: 100px;
  }
  .bloginner-main h2 {
    font-size: 30px;
  }
  .bloginner-main p {
    font-size: 12px;
  }
  .bloginner-sidebar img {
    width: 150px;
    height: 100px;
  }
  .bloginner-sidebar h4 {
    font-size: 20px;
    margin: 10px 0;
  }
  .bloginner-sidebar h2 {
    font-size: 15px;
  }
  .bloginner-sidebar p {
    font-size: 10px;
  }
  .longest-cases-section h2 {
    font-size: 30px;
  }
  .longest-cases-section p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .bloginner .hero-content {
    padding: 20% 12%;
  }
  .bloginner .hero-section h1 {
    font-size: 40px;
  }
  .bloginner-image {
    padding: 40px 0;
  }
  .bloginner-main h2 {
    font-size: 20px;
  }
  .bloginner-main p {
    font-size: 10px;
  }
  .bloginner-sidebar img {
    width: 100px;
    height: 80px;
  }
  .bloginner-sidebar h4 {
    font-size: 15px;
  }
  .bloginner-sidebar h2 {
    font-size: 10px;
  }
  .bloginner-sidebar p {
    font-size: 8px;
  }
  .longest-cases-section h2 {
    font-size: 25px;
  }
  .longest-cases-section p {
    font-size: 10px;
  }
  .longest-cases-cards img {
    width: 320px;
    height: 300px;
  }
}

@media (max-width: 426px) {
  .bloginner .hero-section {
    margin-top: 60px;
  }
  .bloginner .hero-content {
    padding: 20% 5%;
  }
  .bloginner .hero-section h1 {
    font-size: 25px;
  }
  .bloginner-image {
    padding: 40px 0;
  }
  .bloginner-content-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .bloginner-main {
    width: 100%;
  }
  .bloginner-main h2 {
    font-size: 18px;
  }
  .bloginner-main p {
    font-size: 10px;
  } 
  .bloginner-sidebar img {
    width: 100px;
    height: 100px;
  }
  .bloginner-sidebar h2 {
    font-size: 14px;
  }
  .bloginner-sidebar p {
    font-size: 12px;
  }
  .longest-cases-section h2 {
    font-size: 20px;
  }
  .longest-cases-section p {
    font-size: 10px;
  }
  .longest-cases-cards img {
    width: 150px;
    height: 150px;
  }
  .longest-cases-cards h2 {
    font-size: 12px;
  }
}

@media (max-width: 390px) {
  .longest-cases-cards img {
    width: 130px;
    height: 130px;
  }
}