body {
  background: var(--background-gradient);
  color: #fff;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

.wrapper {
  text-align: center;
}

.wrapper img {
  width: 50%;
}

.wrapper h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
  padding-bottom: 20px;
}

p {
  margin: 18px;
  font-family: "Muli", sans-serif;
  font-weight: normal;
}

.wrapper .icons {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.icons a {
  color: #00091b;
  background: #fff;
  height: 40px;
  width: 40px;
  padding: 10px;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 200ms ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons a:hover,
.icons a:active {
  color: #fff;
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
}
