.page-container {
  padding: 50px 10% 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 20px;
  margin-top: 2rem;
}

.service-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 500px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-inner {
  padding: 2rem;
  text-align: center;
  transition: transform 0.5s ease;
}

.icon-container {
  margin-bottom: 1rem;
  font-size: 5rem;
  color: #1F4F9C;
}

.car-icon {
  background-color: #1F4F9C;
}

.health-icon {
  background-color: #1F4F9C;
}

.ship-icon {
  background-color: #1F4F9C;
}

.fire-icon {
  background-color: #1F4F9C;
}

.employee-icon {
  background-color: #1F4F9C;
}

.service-card h3 {
  color: #000000;
  margin-bottom: 0rem;
  font-weight: 600;
  padding: 20px 30px;
  font-size: 1.5rem;
}

.service-card p {
  color: #868686;
  line-height: 1.6;
  font-size: 0.95rem;
  margin: 0;
}

.page-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1F4F9CCF;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  border-radius: 0;
}

.service-card:hover .overlay {
  opacity: 1;
}
.page-container .overlay-text {
  background-color: #ffffff;
  color: #1F4F9C;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
}

.insurance-page .hero-section {
  background-image: url('../../assets/insurance.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 130px;
  color: white;
}

.hero-content{
  background-color: #1F4F9CCF;
  padding: 20% 43%;
  overflow: hidden;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}