.contact-img {
  position: absolute;
  right: 0;
  width: 200px;
  z-index: -1;
}

.contact-container {
  display: flex;
  gap: 20px;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 20px;
  flex-wrap: wrap;
  margin: 80px 14%;
}

.contact-form-section {
  flex: 1;
  background-color: #1f4f9c;
  color: #fff;
  padding: 30px;
  border-radius: 20px;
  min-width: 300px;
}

.form-subheading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-heading {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input,
.input-group textarea {
  padding: 10px 9px 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000000;
}

.input-group.field input,
.input-group.field textarea {
  width: 95%;
}

.input-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #868686;
}

.call .input-icon {
  rotate: 90deg;
  top: 35%;
  right: 13%;
}

.textarea-icon {
  top: 25px;
}

.input-row {
  display: flex;
  gap: 10px;
}

.send-button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

/* Right side */
.contact-info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 300px;
}

.info-box {
  display: flex;
  gap: 15px;
}

.contact-container .info-icon {
  width: 40px;
  height: 40px;
  background-color: #1f4f9c;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.contact-container .info-icon.location {
  width: 70px;
}

.contact-container .info-content h2 {
  font-weight: bold;
  color: #1f4f9c;
  margin-bottom: 5px;
  font-size: 20px;
}

.contact-container .info-content p {
  color: #868686;
  font-size: 15px;
}

@media (max-width: 1440px) {
  .contact-container {
    margin: 80px 12%;
  }
  .contact-img{
    width: 150px;
  }
}

@media (max-width: 1024px) {
  .contact-container {
    margin: 80px 4%;
  }
  .contact-img{
    width: 100px;
  }
  .input-group input,
.input-group textarea {
  padding: 10px 9px 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000000;
  width: 90%;
}

.input-group.field input,
.input-group.field textarea {
  width: 95%;
}
.input-row{
  gap: 15px;
}
.form-subheading{
  font-size: 18px;
}
.form-heading{
  font-size: 25px;
}
.send-button{
  font-size: 14px;
}
.contact-container .info-icon.location {
  width: 80px;
}
.contact-container .info-content h2 {
  font-size: 18px;
}
.contact-container .info-content p {
  font-size: 14px;
}
}

@media (max-width: 768px) {
  .contact-container {
    margin: 80px 10%;
    flex-direction: column;
    gap: 50px;
  }
  .contact-container .info-icon.location {
    width: 60px;
  }
}

@media (max-width: 426px) {
  .contact-container {
    margin: 80px 5%;
    padding: 10px;
  }
  .input-row{
    gap: 20px;
  }
  .contact-container .info-icon.location {
    width: 90px;
  }
}

@media (max-width: 390px) {
  .contact-container {
    margin: 80px 2%;
  }
  .contact-form-section{
    padding: 10px 20px 10px 10px;
  }
  .contact-container .info-icon.location {
    width: 95px;
  }
  .contact-container .info-content h2 {
    font-size: 16px;
  }
}





