.page-footer {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .newsletter {
    background-color: #1F4F9C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .newsletter-content h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .newsletter-content h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
  }
  
  .newsletter-form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .newsletter-form input {
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    width: 250px;
  }
  
  .newsletter-form button {
    background-color: white;
    color: #1F4F9C;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .footer-main {
    display: flex;
    justify-content: space-around;
    padding: 60px 9%;
    flex-wrap: wrap;
  }
  
  .footer-col {
    flex: 1 1 220px;
    border-left: 1px solid #FFFFFF14;
    padding-left: 40px;
  }

  .footer-col:first-child {
    border-left: none;
  }
  
  .footer-col h4 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #fff;
    font-family: Playfair Display;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-col li {
    margin-bottom: 10px;
    font-size: 20px;
    color: #99A4A3;
  }
  
  .footer-col.center-logo {
    text-align: center;
    margin-right: 60px;
  }
  
  .footer-logo {
    width: 70%;
    padding-bottom: 40px;
  }
  
  .footer-col .social-icons {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
    color: #1F4F9C;
  }

  .footer-col .social-icon {
    background-color: #ffffff;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
  }

  .footer-col .contact-info h4 svg{
    background-color: #FFFFFF14;
    border-radius: 50%;
    padding: 10px;
  }
  
  .contact-info h4 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    font-size: 22px;
    font-family: Playfair Display;
  }
  
  .contact-info p {
    font-size: 14px;
    color: #ccc;
    margin: 5px 0;
  }
  
  .footer-bottom {
    background-color: #1F4F9C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-size: 16px;
    flex-wrap: wrap;
  }
  
  .footer-bottom span {
    color: #ffffff;
    font-weight: 700;
  }
  
  .footer-bottom p {
    margin: 5px 0;
  }
  