/* Top blue bar */
.top-bar {
  background-color: #1F4F9C;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 14px 24px 14px 18%;
  align-items: center;
}

.top-bar-left {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.top-bar-item {
  display: flex;
  align-items: center;
  gap: 6px;
  border-left: 1px solid white;
  padding-left: 16px;
}

.top-bar-item:first-child {
  border: none;
  padding-left: 0;
}

.top-bar-right {
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 16px;
}

.social-icon {
  cursor: pointer;
  font-size: 20px;
}

/* Main navbar */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 5%;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.logo {
  width: 7%;
}

.logo img {
  width: 100%;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 50px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-left: -25%;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins';
}

.nav-item a{
  text-decoration: none;
  color: #000000;
}

.nav-item a:hover{
  color: #1F4F9C;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.down-icon {
  font-size: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 150%;
  border-radius: 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-content {
  display: block;
}


.nav-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-btn {
  background: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.search-btn svg {
  font-size: 20px;
  stroke-width: 2;
}

.consult-btn {
  background: black;
  color: white;
  padding: 18px 36px;
  border-radius: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border: none;
}

.right-arrow {
  font-size: 16px;
}

.menu-btn {
  background: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: none;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}


