.news-section {
    padding: 90px 0;
    background-color: #f8f9fa;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
    margin: 80px 0;
  }
  
  .tag {
    color: #2b3e5c;
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .heading {
    font-size: 20px;
    font-weight: 700;
    color: #162c2f;
    margin-bottom: 20px;
  }
  
  .carousel-controls {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    gap: 10px;
  }
  
  .nav-btn {
    width: 32px;
    height: 32px;
    background-color: #1F4F9C;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
  }
  
  .news-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .news-card {
    width: 365px;
    background: #fff;
    border: 1px solid #1F4F9C;
    border-bottom: 5px solid #1F4F9C;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
  }
  
  .news-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .news-meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #868686;
    margin: 10px 0;
    padding: 10px;
  }

  .news-meta span{
    border-left: 1px solid #1F4F9C;
    padding-left: 10px;
  }
  .news-meta span:first-child{
    border-left: none;
    padding-left: 0;
  }
  
  .news-title {
    font-size: 22px;
    font-weight: 600;
    color: #011C1A;
    padding: 0 10px 10px;
  }
  .left-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160px; 
  }
  .right-shape {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
  }
  
  