.working-with {
  background-color: #1F4F9C;
  padding: 50px 0;
}

.working-with-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.working-with-items img {
    width: 6%;
}

.working-with h1 {
  font-weight: 500;
    font-size: 30px ;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

@media (max-width: 1024px) {
  .working-with-items img {
    width: 8%;
  }
}

@media (max-width: 768px) {
  .working-with-items img {
    width: 10%;
  }
  .working-with h1 {
    font-size: 25px;
  }
}

@media (max-width: 426px) {
  .working-with{
    padding: 40px 0;
  }
  .working-with-items img {
    width: 12%;
  }
  .working-with h1 {
    font-size: 20px;
  }
}





