.working-with {
  background-color: #1F4F9C;
  padding: 50px 0;
}

.working-with-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.working-with-items img {
    width: 6%;
}

.working-with h1 {
  font-weight: 500;
    font-size: 30px !important;
    color: white !important;
    text-align: center;
    padding-bottom: 40px;
}

