.filter-button {
  padding: 10px 50px;
  font-size: 16px;
  font-weight: 600;
  background-color: #1F4F9C;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #0056b3;
}